{{>header}}
<div class="all-profile">
  <div class="profile-container">
    <h2 class="profile-title">Profile</h2>
      <div class="profile-info">
        <label for="first_name">First Name:</label>
        <p>{{user.name}}</p>
      </div>
      <div class="profile-info">
        <label for="last_name">Last Name:</label>
        <p>{{user.lastName}}</p>
      </div>
      <div class="profile-info">
        <label for="email">Rol:</label>
        <p>{{user.rol}}</p>
              </div>
      <div class="profile-info">
        <label for="email">Email:</label>
        <p>{{user.email}}</p>
      </div>
      <div class="profile-info">
        <label for="age">Age:</label>
        <p>{{user.age}}</p>
      </div>
      <div class="profile-action text-center">
      <a
        href="/requestpassword"
        class="btn btn-warning"
      >Cambia tu contraseña</a>
    </div>
      </div>
    </div>
  </div>
</div>
